ul{
    
    list-style-type: none;
    background-color: #a8dadc;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}

li a{
    display: block;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}
li a:hover{
    background-color: #f1faee;
}